Screen1/node_modules/
Screen1/app.json
Screen1/babel.config.js
Screen1/package-lock.json
Screen1/package.json
Screen1/.gitignore

Screen2/node_modules/
Screen2/app.json
Screen2/babel.config.js
Screen2/package-lock.json
Screen2/package.json
Screen2/.gitignore

Screen01_extra/node_modules/
Screen01_extra/app.json
Screen01_extra/babel.config.js
Screen01_extra/package-lock.json
Screen01_extra/package.json
Screen01_extra/.gitignore

Screen02_extra/node_modules/
Screen02_extra/app.json
Screen02_extra/babel.config.js
Screen02_extra/package-lock.json
Screen02_extra/package.json
Screen02_extra/.gitignore

Screen03_extra/node_modules/
Screen03_extra/app.json
Screen03_extra/babel.config.js
Screen03_extra/package-lock.json
Screen03_extra/package.json
Screen03_extra/.gitignore
